body {
  overflow-x: hidden;

  &.active {
    overflow: hidden;
  }
}

section {
  height: 100vh;
}

.landing {
  position: relative;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(5rem, 2.4038rem + 11.5385vw, 12.5rem);
  text-align: center;
  position: relative;
  user-select: none;


  h1 {
    font-size: clamp(3rem, 2.0433rem + 4.8077vw, 6rem);
    color: #fff;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 1rem;

    span {
      color: #C9D940;
    }
  }

  p {
    font-weight: 300;
    color: #C0C0C0;
    font-size: clamp(1.125rem, 0.9736rem + 0.6731vw, 1.5625rem);
    max-width: 50%;
    margin: 0 auto;
  }



  .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;

    svg {
      margin: 0 auto;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(202, 217, 64, 0.25) 0%, rgba(255, 255, 255, 0) 50%);
}

.bg-lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;

  div {
    position: absolute;
    top: 0;
    background-color: #2A2A2A;
    width: 0px;
    height: 100%;
    z-index: 1;
    border-left: 1px solid #2A2A2A;
  }

  div {
    &:nth-child(1) {
      left: 10%;
    }

    &:nth-child(2) {
      left: 25%;
    }

    &:nth-child(3) {
      left: 40%;
    }

    &:nth-child(4) {
      left: 60%;
    }

    &:nth-child(5) {
      left: 75%;
    }

    &:nth-child(6) {
      left: 90%;
    }
  }

}

.highlight {
  color: #C9D940;
}

// Scroll Mouse Icon
@keyframes scrollMouse {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.1rem);
  }

  100% {
    transform: translateY(0);
  }
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6rem;
  height: 1.125rem;
  width: .4rem;
  margin-left: -.2rem;
  border-radius: .4rem;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 2px;
  border-radius: inherit;
  background: #c9d940;
  animation: scrollMouse 2.75s ease-in-out infinite;
}

// General icon style
.scroll-icon {
  display: block;
  position: relative;
  height: 3.5rem;
  width: 2rem;
  border: 2px solid #ffffff77;
  border-radius: 50px;
  cursor: pointer;
}

.icon-scroll {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
}

.about-me {
  position: relative;
  height: 100vh;
  background-color: #fff;
}

// Skills

.skills {
  height: 60vh;

  .skills-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}

.infinite-text {
  .text {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  p {
    font-size: clamp(1.5rem, 0.8077rem + 3.0769vw, 3.5rem);
    margin: .5rem 0 0 -1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    margin-top: auto;
    margin-bottom: auto;
  }
}


// About me

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;


  max-width: 900px;

  .img-container {
    width: 240px;
    min-width: 300px;

    img {
      margin: 0 auto;
    }
  }

  .desc-container {
    margin-left: 1rem;

    p {
      font-size: 1.5rem;
    }
  }

  img {
    max-width: 240px;
  }
}

// Button
.btn-wrapper {
  position: relative;
  height: 44px;
  width: 150px;
  border-radius: 14px;
  overflow: hidden;
  background: #212121;
  box-shadow: rgba(63, 63, 63, 0.695) 0px 4px 24px;

  &::before {
    content: '';
    position: absolute;
    left: 40px;
    top: -110px;
    height: 290px;
    width: 140px;
    background: #cbdf19;
    background: conic-gradient(#cbdf19 0deg, #eaff2f 0deg, transparent 80deg);
    animation: border-spin 4s linear infinite;
  }

  button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: color .15s linear;

    svg {
      margin-right: .25rem;
      font-size: 1.125rem;
      transition: transform .15s linear;
    }

    &:hover {
      color: #cbdf19;

      svg {
        transform: rotate(45deg);
      }
    }
  }
}

.btn-content {
  position: absolute;
  left: 0.0625rem;
  top: 0.0625rem;
  height: calc(100% - 0.125rem);
  width: calc(100% - 0.125rem);
  border-radius: 14px;
  // background: linear-gradient(to bottom, #1e293b, #0f172a);
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-xs */
}


@keyframes border-spin {
  100% {
    transform: rotate(-360deg);
  }
}


// Projects

.projects {
  height: auto;
  margin-bottom: 2rem;
}

.projects-wrapper {
  h2 {
    text-align: center;
  }
}

.project-list {
  max-width: 1200px;
  margin: 0 auto;
}

.project-item {
  position: relative;
  padding: 2rem;
  border-bottom: 1px solid #212121;
}

.item {
  display: flex;
  justify-content: space-between;

  span {
    margin-right: .7rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: #6a6a6a;
  }

  h3 {
    font-weight: 500;
  }

  h4 {
    font-weight: 400;
    color: #6a6a6a;
  }

  h3,
  h4 {
    margin-top: 1rem;
  }
}

.contact {
  position: relative;
  height: auto;
  padding: 2rem 8rem;

  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .bg-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(16deg, rgba(125, 124, 214, 1) 0%, rgba(255, 255, 255, 0) 30%);


  }

  .bg-overlay2 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(164deg, rgba(255, 255, 255, 0) 70%, rgba(208, 240, 255, 1) 100%);
  }
}

.absolute-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.reserved {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: auto;
}

.contact-content {
  z-index: 1;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;

  a {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    border: 3px solid var(--black);
    border-radius: 100px;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-decoration: none;
    font-weight: 600;
    color: #000;

    &:hover {
      transform: scale(1.15);
      box-shadow: 3px 4px 10px #21212184;
      background-color: var(--black);
      color: #fff;
    }

    svg {
      // margin-top: 0.5rem;
      margin-bottom: .25rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .app {
    overflow-x: hidden;
  }

  .sticky-cursor-circle {
    display: none !important;
  }

  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about-wrapper {
    flex-direction: column;

    .img-container {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .contact {
    padding: 2rem;
  }

  .skills {
    height: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

}


@media only screen and (max-width: 768px) {
  .socials {
    flex-direction: column;

    a {
      margin-bottom: 2rem;
    }
  }

  .project-item {
    padding: 1rem;

    .item {
      flex-direction: column;
    }
  }
}